.cards-container {
    display: flex;
    flex-direction: column;
}

.task-card {
    background-color: #edecec;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 1px 3px 1px rgba(133,133,133,0.6);
}

.task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-head h3 {
    width: 12rem;
}

.checkbox {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.task-info {
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
}

.priority {
    color: rgb(32, 17, 199);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.btn-container {
    display: flex;
    gap: 3px;
}

.edit, .delete, .posi {
    
    color: aliceblue;
    border-radius: 6px;
    border-style: none;
    width: 50px;
    height: 25px;
}

.edit {
    background-color: rgb(123, 123, 183);
}

.delete {
    background-color: rgb(178, 111, 111);

}

.posi {
    background-color: rgb(136, 178, 111);
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn-container > p {
    font-size: 0.88rem;
    color: rgb(155, 69, 4) ;
}