.cards-container {
    display: flex;
    flex-direction: column;
}

.task-card {
    background-color: #edecec;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 1px 3px 1px rgba(133,133,133,0.6);
}

.task-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-head h3 {
    width: 12rem;
}

.checkbox {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.task-info {
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
}

.priority {
    color: rgb(32, 17, 199);
}


